@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
}

.background span {
    width: 37vmin;
    height: 37vmin;
    border-radius: 37vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 15;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #fff694;
    top: 97%;
    left: 78%;
    animation-duration: 46s;
    animation-delay: -91s;
    transform-origin: 22vw 18vh;
    box-shadow: -74vmin 0 9.386776219167482vmin currentColor;
}
.background span:nth-child(1) {
    color: #bdffd6;
    top: 10%;
    left: 54%;
    animation-duration: 85s;
    animation-delay: -295s;
    transform-origin: -12vw -5vh;
    box-shadow: -74vmin 0 9.542378355570781vmin currentColor;
}
.background span:nth-child(2) {
    color: #fff694;
    top: 62%;
    left: 64%;
    animation-duration: 17s;
    animation-delay: -46s;
    transform-origin: -22vw 6vh;
    box-shadow: -74vmin 0 10.15864783265562vmin currentColor;
}
.background span:nth-child(3) {
    color: #fff694;
    top: 17%;
    left: 34%;
    animation-duration: 28s;
    animation-delay: -167s;
    transform-origin: 4vw -13vh;
    box-shadow: -74vmin 0 9.34420796419088vmin currentColor;
}
.background span:nth-child(4) {
    color: #e8dbff;
    top: 4%;
    left: 18%;
    animation-duration: 307s;
    animation-delay: -30s;
    transform-origin: -7vw -9vh;
    box-shadow: -74vmin 0 9.979479750861369vmin currentColor;
}
.background span:nth-child(5) {
    color: #fff694;
    top: 47%;
    left: 55%;
    animation-duration: 161s;
    animation-delay: -136s;
    transform-origin: -13vw 19vh;
    box-shadow: 74vmin 0 10.226602330378823vmin currentColor;
}
.background span:nth-child(6) {
    color: #bdffd6;
    top: 13%;
    left: 36%;
    animation-duration: 137s;
    animation-delay: -149s;
    transform-origin: 14vw 5vh;
    box-shadow: -74vmin 0 9.76434026612411vmin currentColor;
}
.background span:nth-child(7) {
    color: #e8dbff;
    top: 72%;
    left: 47%;
    animation-duration: 262s;
    animation-delay: -295s;
    transform-origin: 11vw 25vh;
    box-shadow: -74vmin 0 9.268664990333665vmin currentColor;
}
.background span:nth-child(8) {
    color: #bdffd6;
    top: 11%;
    left: 7%;
    animation-duration: 186s;
    animation-delay: -4s;
    transform-origin: 23vw -19vh;
    box-shadow: -74vmin 0 9.307136165156944vmin currentColor;
}
.background span:nth-child(9) {
    color: #bdffd6;
    top: 67%;
    left: 82%;
    animation-duration: 132s;
    animation-delay: -278s;
    transform-origin: -21vw 13vh;
    box-shadow: -74vmin 0 9.415462924037756vmin currentColor;
}
.background span:nth-child(10) {
    color: #fff694;
    top: 75%;
    left: 26%;
    animation-duration: 332s;
    animation-delay: -256s;
    transform-origin: 20vw -23vh;
    box-shadow: -74vmin 0 9.877558381355579vmin currentColor;
}
.background span:nth-child(11) {
    color: #fff694;
    top: 1%;
    left: 4%;
    animation-duration: 319s;
    animation-delay: -12s;
    transform-origin: 21vw 1vh;
    box-shadow: 74vmin 0 9.733972916067007vmin currentColor;
}
.background span:nth-child(12) {
    color: #bdffd6;
    top: 24%;
    left: 73%;
    animation-duration: 258s;
    animation-delay: -299s;
    transform-origin: -7vw -13vh;
    box-shadow: -74vmin 0 9.945611461807264vmin currentColor;
}
.background span:nth-child(13) {
    color: #e8dbff;
    top: 88%;
    left: 19%;
    animation-duration: 275s;
    animation-delay: -160s;
    transform-origin: 1vw -15vh;
    box-shadow: -74vmin 0 10.092772779928715vmin currentColor;
}
.background span:nth-child(14) {
    color: #e8dbff;
    top: 97%;
    left: 94%;
    animation-duration: 18s;
    animation-delay: -282s;
    transform-origin: -12vw 7vh;
    box-shadow: -74vmin 0 9.579103801881987vmin currentColor;
}
.background span:nth-child(15) {
    color: #e8dbff;
    top: 89%;
    left: 7%;
    animation-duration: 126s;
    animation-delay: -237s;
    transform-origin: 19vw 7vh;
    box-shadow: 74vmin 0 9.541103149412677vmin currentColor;
}
.background span:nth-child(16) {
    color: #e8dbff;
    top: 74%;
    left: 9%;
    animation-duration: 234s;
    animation-delay: -197s;
    transform-origin: 6vw -9vh;
    box-shadow: 74vmin 0 9.762164868604634vmin currentColor;
}
.background span:nth-child(17) {
    color: #fff694;
    top: 42%;
    left: 72%;
    animation-duration: 100s;
    animation-delay: -115s;
    transform-origin: 8vw -17vh;
    box-shadow: 74vmin 0 9.547050870098868vmin currentColor;
}
.background span:nth-child(18) {
    color: #bdffd6;
    top: 72%;
    left: 47%;
    animation-duration: 353s;
    animation-delay: -143s;
    transform-origin: -19vw -13vh;
    box-shadow: -74vmin 0 9.993027400479605vmin currentColor;
}
.background span:nth-child(19) {
    color: #fff694;
    top: 51%;
    left: 10%;
    animation-duration: 273s;
    animation-delay: -81s;
    transform-origin: 7vw -11vh;
    box-shadow: -74vmin 0 9.33000981253925vmin currentColor;
}
.background span:nth-child(20) {
    color: #fff694;
    top: 49%;
    left: 9%;
    animation-duration: 125s;
    animation-delay: -169s;
    transform-origin: 0vw -3vh;
    box-shadow: 74vmin 0 9.3697954459069vmin currentColor;
}
.background span:nth-child(21) {
    color: #fff694;
    top: 68%;
    left: 90%;
    animation-duration: 110s;
    animation-delay: -303s;
    transform-origin: -8vw -2vh;
    box-shadow: 74vmin 0 9.86371323315106vmin currentColor;
}
.background span:nth-child(22) {
    color: #fff694;
    top: 47%;
    left: 90%;
    animation-duration: 98s;
    animation-delay: -347s;
    transform-origin: 22vw 8vh;
    box-shadow: 74vmin 0 9.378783513994978vmin currentColor;
}
.background span:nth-child(23) {
    color: #bdffd6;
    top: 86%;
    left: 32%;
    animation-duration: 246s;
    animation-delay: -220s;
    transform-origin: 14vw -20vh;
    box-shadow: 74vmin 0 9.923268732363077vmin currentColor;
}
.background span:nth-child(24) {
    color: #fff694;
    top: 71%;
    left: 33%;
    animation-duration: 284s;
    animation-delay: -218s;
    transform-origin: -11vw -8vh;
    box-shadow: -74vmin 0 10.006115608390111vmin currentColor;
}
.background span:nth-child(25) {
    color: #e8dbff;
    top: 38%;
    left: 45%;
    animation-duration: 30s;
    animation-delay: -294s;
    transform-origin: -9vw -7vh;
    box-shadow: -74vmin 0 9.624299208502684vmin currentColor;
}
.background span:nth-child(26) {
    color: #fff694;
    top: 29%;
    left: 40%;
    animation-duration: 242s;
    animation-delay: -254s;
    transform-origin: -12vw 20vh;
    box-shadow: -74vmin 0 9.72775791318066vmin currentColor;
}
.background span:nth-child(27) {
    color: #bdffd6;
    top: 18%;
    left: 91%;
    animation-duration: 235s;
    animation-delay: -236s;
    transform-origin: 16vw 4vh;
    box-shadow: -74vmin 0 9.52449047765081vmin currentColor;
}
.background span:nth-child(28) {
    color: #fff694;
    top: 53%;
    left: 90%;
    animation-duration: 184s;
    animation-delay: -106s;
    transform-origin: -7vw 8vh;
    box-shadow: 74vmin 0 10.046442653418598vmin currentColor;
}
.background span:nth-child(29) {
    color: #fff694;
    top: 7%;
    left: 39%;
    animation-duration: 257s;
    animation-delay: -172s;
    transform-origin: 15vw 17vh;
    box-shadow: 74vmin 0 10.159865256243156vmin currentColor;
}
.background span:nth-child(30) {
    color: #bdffd6;
    top: 74%;
    left: 93%;
    animation-duration: 129s;
    animation-delay: -149s;
    transform-origin: -9vw 21vh;
    box-shadow: -74vmin 0 10.015361239865994vmin currentColor;
}
.background span:nth-child(31) {
    color: #e8dbff;
    top: 35%;
    left: 83%;
    animation-duration: 348s;
    animation-delay: -208s;
    transform-origin: -7vw -23vh;
    box-shadow: 74vmin 0 9.398803766370417vmin currentColor;
}
.background span:nth-child(32) {
    color: #bdffd6;
    top: 27%;
    left: 98%;
    animation-duration: 249s;
    animation-delay: -101s;
    transform-origin: -1vw -8vh;
    box-shadow: 74vmin 0 10.005968438013094vmin currentColor;
}
.background span:nth-child(33) {
    color: #e8dbff;
    top: 61%;
    left: 52%;
    animation-duration: 311s;
    animation-delay: -131s;
    transform-origin: 9vw 8vh;
    box-shadow: 74vmin 0 10.14910065328419vmin currentColor;
}
.background span:nth-child(34) {
    color: #fff694;
    top: 13%;
    left: 60%;
    animation-duration: 182s;
    animation-delay: -200s;
    transform-origin: -16vw -4vh;
    box-shadow: -74vmin 0 9.375338366626831vmin currentColor;
}
.background span:nth-child(35) {
    color: #e8dbff;
    top: 8%;
    left: 22%;
    animation-duration: 97s;
    animation-delay: -21s;
    transform-origin: 6vw -21vh;
    box-shadow: -74vmin 0 9.964724448435542vmin currentColor;
}
.background span:nth-child(36) {
    color: #e8dbff;
    top: 5%;
    left: 4%;
    animation-duration: 227s;
    animation-delay: -117s;
    transform-origin: 5vw -8vh;
    box-shadow: 74vmin 0 10.062238341206267vmin currentColor;
}
.background span:nth-child(37) {
    color: #fff694;
    top: 4%;
    left: 93%;
    animation-duration: 280s;
    animation-delay: -59s;
    transform-origin: -23vw 11vh;
    box-shadow: 74vmin 0 10.187299414154843vmin currentColor;
}
.background span:nth-child(38) {
    color: #e8dbff;
    top: 3%;
    left: 32%;
    animation-duration: 31s;
    animation-delay: -331s;
    transform-origin: -7vw 19vh;
    box-shadow: 74vmin 0 9.48803409704147vmin currentColor;
}
.background span:nth-child(39) {
    color: #fff694;
    top: 1%;
    left: 36%;
    animation-duration: 312s;
    animation-delay: -55s;
    transform-origin: 3vw 24vh;
    box-shadow: 74vmin 0 10.087336974285595vmin currentColor;
}
.background span:nth-child(40) {
    color: #e8dbff;
    top: 23%;
    left: 28%;
    animation-duration: 254s;
    animation-delay: -84s;
    transform-origin: 23vw 19vh;
    box-shadow: -74vmin 0 9.346106892017653vmin currentColor;
}
.background span:nth-child(41) {
    color: #e8dbff;
    top: 53%;
    left: 73%;
    animation-duration: 150s;
    animation-delay: -154s;
    transform-origin: 1vw -8vh;
    box-shadow: 74vmin 0 9.578918637687767vmin currentColor;
}
.background span:nth-child(42) {
    color: #e8dbff;
    top: 26%;
    left: 32%;
    animation-duration: 41s;
    animation-delay: -259s;
    transform-origin: 12vw 11vh;
    box-shadow: 74vmin 0 9.810373485555496vmin currentColor;
}
.background span:nth-child(43) {
    color: #e8dbff;
    top: 15%;
    left: 67%;
    animation-duration: 348s;
    animation-delay: -312s;
    transform-origin: -19vw 14vh;
    box-shadow: 74vmin 0 9.399490592111729vmin currentColor;
}
